<a href="https://colab.research.google.com/github/retutux-arch/Python_Data_Science_practica/blob/main/Practica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Hora de practicar** : *Commensando con python*

1 - Imprime la frase "Escuela de Datos de Alura".

In [ ]:
print('Escuela de datos de Alura')

Escuela de datos de Alura

2 - Imprime tu nombre y tu apellido siguiendo la estructura a continuación:

In [ ]:
print('Nombre: Ariel')
print('Apellido: Lobos')

Nombre: Ariel
Apellido: Lobos

3 - Imprime tu primer nombre letra por letra. Por ejemplo, si mi nombre es Álvaro, la salida sería:

In [ ]:
print('A')
print('R')
print('I')
print('E')
print('L')

A
R
I
E
L

4 - Imprime tu fecha de nacimiento en formato día mes año. Recuerda que los valores de día y año no deben estar entre comillas. Suponiendo una fecha de cumpleaños el 28 de febrero de 2003, el formato debe ser como el siguiente:

In [ ]:
print(23, 'Septiembre', 1989)

23 Septiembre 1989

5 - Imprime, en una sola instrucción print, el año actual en el que estás realizando este curso. El valor del año debe ser un dato numérico, y la salida de print debe ser la siguiente:

In [ ]:
print('Año actual:', 2025)

Año actual: 2025

##**Hora de practicar**: *Manipulando datos con Python*

###Recopilación y muestra de datos

1 - Crea un programa que solicite al usuario que escriba su nombre y luego imprima "Hola, [nombre]."

In [5]:
nombre = input('Nombre: ')
print('Hola',nombre)

Nombre: Ariel
Hola Ariel

2 - Crea un programa que solicite al usuario que escriba su nombre y edad, y luego imprima "Hola, [nombre], tienes [edad] años."

In [13]:
nombre = input('Nombre: ')
edad = input('Edad: ')
print(f'Hola {nombre}, tu edad es {edad} años.')

Nombre: Ariel
Edad: 36
Hola Ariel, tu edad es 36 años.

3 - Crea un programa que solicite al usuario que escriba su nombre, edad y altura en metros, y luego imprima "Hola, [nombre], tienes [edad] años y mides [altura] metros."

In [26]:
nombre = input('Nombre: ')
edad = int(input('Edad: '))
altura = float(input('Altura: '))
print(f'Hola {nombre}, tienes {edad} años y mides {altura:.2f} metros.')

Nombre: Ariel
Edad: 36
Altura: 1.80
Hola Ariel, tienes 36 años y mides 1.80 metros.

***Calculadora con operadores***

4 - Crea un programa que solicite dos valores numéricos al usuario y luego imprima la suma de ambos valores.

In [28]:
valor1 = int(input("Introduce el primer valor numérico: "))
valor2 = int(input("Introduce el segundo valor numérico: "))
suma = valor1 + valor2
print(f"La suma de {valor1} y {valor2} es: {suma}")

Introduce el primer valor numérico: 25
Introduce el segundo valor numérico: 65
La suma de 25 y 65 es: 90

5 - Crea un programa que solicite tres valores numéricos al usuario y luego imprima la suma de los tres valores.

In [31]:
valor1 = int(input("Introduce el primer valor numérico: "))
valor2 = int(input("Introduce el segundo valor numérico: "))
valor3 = int(input("Introduce el segundo valor numérico: "))
suma = valor1 + valor2 + valor3
print(f"La suma de {valor1} + {valor2} y {valor3} es: {suma}")

Introduce el primer valor numérico: 56
Introduce el segundo valor numérico: 56
Introduce el segundo valor numérico: 235
La suma de 56 + 56 y 235 es: 347

6 - Crea un programa que solicite dos valores numéricos al usuario y luego imprima la resta del primero menos el segundo valor.

In [32]:
valor1 = int(input("Introduce el primer valor numérico: "))
valor2 = int(input("Introduce el segundo valor numérico: "))
resta = valor1 - valor2
print(f"La resta de {valor1} - {valor2} es: {resta}")

Introduce el primer valor numérico: 56
Introduce el segundo valor numérico: 54
La resta de 56 - 54 es: 2

7 - Crea un programa que solicite dos valores numéricos al usuario y luego imprima la multiplicación de los dos valores.

In [34]:
valor1 = int(input("Introduce el primer valor numérico: "))
valor2 = int(input("Introduce el segundo valor numérico: "))
multipliccion = valor1 * valor2
print(f"La multiplicación de {valor1} x {valor2} es: {multipliccion}")

Introduce el primer valor numérico: 24
Introduce el segundo valor numérico: 32
La multiplicación de 24 x 32 es: 768

8 - Crea un programa que solicite dos valores numéricos, un numerador y un denominador, y realice la división entre los dos valores. Asegúrate de que el valor del denominador no sea igual a 0.

In [36]:
valor1 = float(input("Introduce el primer valor numérico: "))
valor2 = float(input("Introduce el segundo valor numérico: "))
if valor2 == 0:
  print('El denominador no puede ser 0')
else:
  division = valor1 / valor2
  print(f"La división de {valor1} / {valor2} es: {division}")

Introduce el primer valor numérico: 568
Introduce el segundo valor numérico: 4545
La división de 568.0 / 4545.0 es: 0.12497249724972498

9 - Crea un programa que solicite dos valores numéricos, un operador y una potencia, y realice la exponenciación entre estos dos valores.

In [38]:
valor1 = int(input("Introduce el primer valor numérico: "))
valor2 = int(input("Introduce el segundo valor numérico: "))
potencia = valor1 ** valor2
print(f"La potencia de {valor1} ** {valor2} es: {potencia}")

Introduce el primer valor numérico: 5
Introduce el segundo valor numérico: 5
La potencia de 5 ** 5 es: 3125

10 - Crea un programa que solicite dos valores numéricos, un numerador y un denominador, y realice la división entera entre los dos valores. Asegúrate de que el valor del denominador no sea igual a 0.

In [44]:
valor1 = int(input("Introduce el primer valor numérico: "))
valor2 = int(input("Introduce el segundo valor numérico: "))
if valor2 == 0:
  print('El denominador no puede ser 0')
else:
  division = valor1 // valor2
  print(f"La división entera de {valor1} // {valor2} es: {division}")

Introduce el primer valor numérico: 5454
Introduce el segundo valor numérico: 4545
La división entera de 5454 // 4545 es: 1

11 - Crea un programa que solicite dos valores numéricos, un numerador y un denominador, y devuelva el resto de la división entre los dos valores. Asegúrate de que el valor del denominador no sea igual a 0.

In [45]:
valor1 = int(input("Introduce el primer valor numérico: "))
valor2 = int(input("Introduce el segundo valor numérico: "))
if valor2 == 0:
  print('El denominador no puede ser 0')
else:
  division = valor1 % valor2
  print(f"El resto de la división de {valor1} % {valor2} es: {division}")

Introduce el primer valor numérico: 5
Introduce el segundo valor numérico: 9
El resto de la división de 5 % 9 es: 5

12 - Crea un código que solicite las 3 notas de un estudiante e imprima el promedio de las notas.

In [48]:
nota1 = float(input("Introduce tu primera calificacion: "))
nota2 = float(input("Introduce tu segunda calificacion: "))
nota3 = float(input("Introduce tu tercera calificacion: "))
promedio = (nota1 + nota2 + nota3) / 3
print(f"El promedio de las notas es: {promedio}")

Introduce tu primera calificacion: 4.5
Introduce tu segunda calificacion: 5.5
Introduce tu tercera calificacion: 6.5
El promedio de las notas es: 5.5

13 - Crea un código que calcule e imprima el promedio ponderado de los números 5, 12, 20 y 15 con pesos respectivamente iguales a 1, 2, 3 y 4.

In [52]:
promedio_ponderado = (5*1 + 12*2 + 20*3 + 15*4) / (1+2+3+4)
print(f'El promedio ponderado es: {promedio_ponderado}')

El promedio ponderado es: 14.9

***Editando textos***

14 - Crea una variable llamada "frase" y asígnale una cadena de texto de tu elección. Luego, imprime la frase en pantalla.

In [53]:
frase = 'Hola, soy Ariel Lobos'
print(frase)

Hola, soy Ariel Lobos

15 - Crea un código que solicite una frase y luego imprima la frase en pantalla.

In [55]:
frase = input('Introduce una frase: ')
print(frase)

Introduce una frase: nueva frase
nueva frase

16 - Crea un código que solicite una frase al usuario y luego imprima la misma frase ingresada pero en mayúsculas.

In [57]:
frase = input('Introduce una frase: ')
print(frase.upper())

Introduce una frase: hola
HOLA

17 - Crea un código que solicite una frase al usuario y luego imprima la misma frase ingresada pero en minúsculas.

In [58]:
frase = input('Introduce una frase: ')
print(frase.lower())

Introduce una frase: HOLA
hola

18 - Crea una variable llamada "frase" y asígnale una cadena de texto de tu elección. Luego, imprime la frase sin espacios en blanco al principio y al final.

In [62]:
frase = '    hola    '
print(Frase.strip())

hola

19 - Crea un código que solicite una frase al usuario y luego imprima la misma frase sin espacios en blanco al principio y al final.

In [63]:
frase = input('Introduce una frase: ')
print(frase.strip())

Introduce una frase:           hola
hola

20 - Crea un código que solicite una frase al usuario y luego imprima la misma frase sin espacios en blanco al principio y al final, además de convertirla a minúsculas.

In [65]:
frase = input('Introduce una frase: ')
print(frase.strip().lower())

Introduce una frase:          HOLA
hola

21 - Crea un código que solicite una frase al usuario y luego imprima la misma frase con todas las vocales "e" reemplazadas por la letra "f".

In [69]:
frase = input('Introduce una frase: ')
print(frase.replace('e','f'))

Introduce una frase: Este excelente pelele se entretiene leyendo trece reses
Estf fxcflfntf pflflf sf fntrftifnf lfyfndo trfcf rfsfs

22 - Crea un código que solicite una frase al usuario y luego imprima la misma frase con todas las vocales "a" reemplazadas por el carácter "@".

In [67]:
frase = input('Introduce una frase: ')
print(frase.replace('a','@'))

Introduce una frase: La araña arrastra a la casa la paja
L@ @r@ñ@ @rr@str@ @ l@ c@s@ l@ p@j@

23 - Crea un código que solicite una frase al usuario y luego imprima la misma frase con todas las consonantes "s" reemplazadas por el carácter "$".

In [68]:
frase = input('Introduce una frase: ')
print(frase.replace('s','$'))

Introduce una frase: Seis sapos secos saltan silenciosamente sobre seis sillas
Sei$ $apo$ $eco$ $altan $ilencio$amente $obre $ei$ $illa$